/*required field styles*/
.hide-element {
  display: none;
}

.inline-element {
  display: inline-block;
}

.content-wrapper, .right-side {
  background-color: #fff;
}

.modal-dialog.wide {
  width: 800px;
}

.form-buttons {
  width: 130px;
  float: right;
}

.show-element {
  display: block;
}

.center-element {
  text-align: center;
}

.clear-floats {
  clear: both;
}

.input-req {
  position: relative;
  float: left;
  width: 100%;
}

.input-req-inner {
  right: -5px;
  top: -17px;
  width: 20px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  display: block;
  right: -11px;
  top: -14px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.input-req-inner:before {
  font-size: 18px;
  content: "*";
  top: 17px;
  right: 1px;
  color: #fff;
  position: absolute;
  z-index: 2;
  cursor: default;
}

.input-req-inner:after {
  content: '';
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f45640;
  position: absolute;
  top: 7px;
  right: -29px;
  -moz-border-radius: 10px;
}

/* Registration */
#regContainer {
  margin-top: 3%;
}

.panel-login {
  border-color: #ccc;
  background-color: #f9f8f8;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
  text-align: center;
}

.panel-login > .panel-heading a {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
  font-size: 34px;
}

.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

.btn-login {
  background-color: #3D9DB3;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #2d92a9;
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #198da8;
  border-color: #53A3CD;
}

.btn-register {
  background-color: #17ae47;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://jointgroup.es/wp-content/uploads/2016/11/joint-network-group.jpg");
  background-repeat: repeat;
}

.panel-heading a {
  font-size: 48px;
  color: rgb(6, 106, 117);
  padding: 2px 0 10px 0;
  font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.panel-heading a {
  background: -webkit-repeating-linear-gradient(-45deg, rgb(18, 83, 93), rgb(18, 83, 93) 20px, rgb(64, 111, 118) 20px, rgb(64, 111, 118) 40px, rgb(18, 83, 93) 40px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.give-space {
  display: inline-block;
  width: 100%;
}

.content-header {
  padding: 0;
}

.page-header {
  margin-bottom: 1em;
}

.show-image {
  width: 400px;
  height: auto;
}

/* Data tables */
table.dataTable thead th {
  background-image: none;
}

/* Table alterations */
.table-bordered > thead > tr > th {
  border: none;
}

thead tr {
  color: white;
  background: #2980B9;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: white;
  opacity: 1;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #E1EDF0;
}

/* Main Menu */
.skin-blue .main-header .navbar {
  background-color: #3498db;
}

.skin-blue .main-header .logo {
  background-color: #3498db;
}

.skin-blue .main-header .logo:hover {
  background-color: #3498db;
}

/* Menu buttons */
.buttons .btn-primary {
  height: 27px;
  font-size: 16px;
  background: #2980b9;
  font-weight: 300;
}

.btn-group-lg > .btn, .btn-lg {
  padding: 0;
}

.buttons.container-fluid {
  margin: 0 0 5px;
  float: left;
  width: 100%;
}

.buttons .col-md-2 {
  margin: 0 0 15px;
}

@media (max-width: 992px) {
  .buttons .col-md-2 {
    margin: 15px 0;
  }
}

/* Action Buttons */
th.edit-button {
  text-align: center;
}

.edit-button .bg-green,
.edit-button .btn-info {
  float: left;
}

.edit-button .inner {
  float: left;
  width: 150px;
  margin: 0 15px;
}

.bg-green .fa, .btn-danger .fa,
.btn-info .fa, .btn-danger .fa {
  padding-right: 5px;
}

.delete-form {
  cursor: pointer;
  float: left;
}

.delete-btn, .delete-btn-ajax {
  position: relative;
}

.btn-danger input {
  background: transparent;
  border: none;
  outline: none;
}

.edit-button .btn-danger {
  margin-left: 12px;
  position: relative;
}

.attacment-item {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #eee;
}

/* Dashboard buttons */
.bg-light-purple {
  background: #8221bd;
  color: #FFF;
}

.small-box .icon {
  font-size: 70px;
}

.small-box:hover .icon {
  font-size: 75px;
}

.small-box > .inner {
  padding: 0 10px;
}

.content-header {
  display: inline-block;
}

/* Attachemnts */
.attachments-rows.box-info {
  float: left;
}

.attachments-rows .attacment-item {
  float: left;
  width: 100%;
}

.nav-toggle {
  display: none;
}

/* Hamburger menu */
@media (max-width: 992px) {
  .menu-item {
    width: 100%;
    text-align: center;
  }

  .nav-toggle {
    display: block;
    border: 2px solid white;
    padding: 2px 6px;
    border-radius: 20%;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .hidden-sm.logo {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .main-header .logo, .main-header .navbar {
    width: 100%;
    float: none;
  }

  .main-header .logo, .main-header .navbar {
    width: 100%;
    float: none;
  }

  .main-header .logo {
    height: auto;
  }
}

@media (max-width: 768px) {}

.main-header .navbar {
  margin-left: 0;
}

@media (min-width: 992px) {
  .main-header .navbar {
    margin-left: 230px;
  }
}

span.fa.fa-bars {
  font-size: 20px;
  color: white;
}

/* Data tables pagination t- to look like bootstrap */
div.dataTables_wrapper div.dataTables_info {
  float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
  float: right;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5PX;
  background: #fafafa;
}

a.paginate_button {
  padding: 5px 10px;
  border-left: 1px solid #ddd;
  float: left;
  background: #fafafa;
  color: #666;
}

a.paginate_button.current {
  background-color: #337ab7;
  color: #fff;
  border-color: #337ab7;
}

/* Settings Page */
.page-content-wrapper {
  clear: both;
}

.page-content {
  float: left;
  width: 100%;
  border: 2px solid #f4f4f4;
  padding: 30px;
  border-radius: 5px;
  min-height: 300px;
}

.page-content .title {
  padding-left: 17px;
}

.edit-settings {
  float: left;
  margin-right: 10px;
}

.simple-add-textbox-wrapper {
  width: 160px;
}

.simple-add-textbox {
  height: 33.5px;
  border: 1px solid #a9a9a9;
  border-right: 0;
}

.simple-add-btn {
  border-radius: 0 3px 3px 0;
}

/* Simple List */
.simple-list.box {
  border-top: none;
}

.simple-list .box-header {
  color: #fff;
  background: #3c8dbc;
  font-weight: bold;
}

.simple-list .box-header button i {
  color: #fff;
}

.simple-list td a {
  color: #000;
  font-weight: bold;
}

/* Custom Box  */
.blue.box-solid {
  border: 1px solid #2980b9;
  border-radius: 2px;
}

.blue > .box-header.with-border {
  border-bottom: 1px solid #2980b9;
  background: #2980b9;
  color: #fff;
  padding: 5px;
}

.blue > .box-header.with-border .box-title {
  font-size: 16px;
  font-weight: 400;
}

.attachments-drop-box {
  background: #f1f1f1;
  border: 1px dashed #000;
  padding: 30px;
  float: left;
  width: 100%;
}

/* Jobcards Status */
.info-box.status-box {
  min-height: 60px;
}

.info-box.status-box .info-box-icon {
  height: 60px;
  width: 60px;
  font-size: 40px;
  line-height: 60px;
}

.info-box.status-box .info-box-content {
  margin-left: 60px;
}

/* Dropzone */
.dz-preview {
  float: left;
  width: 200px;
}

.dz-server-file {
  width: 120px;
  height: 120px;
}

.dz-success-mark,
.dz-error-mark,
.dz-default.dz-message,
.dz-size {
  display: none;
}

.dz-details {
  height: 50px;
}

.jc-list-item {
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
}

.jc-list-item:nth-child(2n) {
  background: #E1EDF0;
}

span.profile-image {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #2980b9;
  position: relative;
  top: -5px;
  border-radius: 50%;
}

span.profile-image img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.jc-list-item h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.jc-edit-button .btn {
  width: 37px;
  margin-bottom: 10px;
}

.jc-list-item .jc-priority, .jc-list-item .jc.assigned-to {
  text-align: center;
}

.jc-list-item p {
  margin-bottom: 0;
}

.stattus-box {
  width: 80px;
  height: 80px;
  float: left;
  background: #3498db;
  margin: 10px 5px;
  font-size: 5em;
  line-height: 1;
  text-align: center;
  color: white;
}

/*
.add-user {
  //width: 400px;
}

.add-user input,
.add-user textarea,
.add-user select {
  display: block;
  width: 100%;
  margin: 0 0 10px;
}

.add-user button {
  width: 100%;
}*/